.contact-form {
  width: 400px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(187, 187, 187);
  border-radius: 8px;
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
}

.contact-form h1 {
  text-align: center;
  width: 100%;
}

.contact-form .submit-button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 169, 169);
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 16px;
}
